    *{
	    padding: 0;
    	margin: 0;
    }
	.fl{
	float: left;
	}
	.fr{
	float: right;
	}
   	.main{
   		margin: 0 auto;
		width:1010px;
    	background: #fafafa;
   	}
   .que{
		height: 20px;
	   	padding-left: 75%;
	   }
	   .que a{
		text-decoration: none;
	   	font-size:12px;
	   	color: red;
	   }
   	   	.title{
   		position:relative;
   		width: 100%;
		height: 60px;
   		background: #c1c1c1;
   	}
   	.nav{
   		position:absolute;
   		left: 25%;
		list-style: none;
   		font-size: 20px;
   		line-height: 60px;
   	}
   	.nav li{
		float: left;
   		margin-left: 60px;
   	}
   	.nav a{
		text-decoration: none;
   		color: #494747;
   		font-weight: bold;
   	}
   	.nav a:hover{
   		background: gree;
   		color: #e9dfdf;
   	}
   	
   	
   	
   	.center{
	   	height: 400px;
   	}
	#box{
		position:relative;
		width:1010px;
		height:400px;
		margin:0 auto;
	}	
	#box img{
		width:100%;
		height:100%;	
	}
	#box ul{
		position:absolute;
		bottom:30px;
		right:40px;
		list-style:none;
	}
	#box ul li{
		float:left;	
		width:20px;
		height:20px;
		background-color:#999;
		margin:10px;
		border-radius:75%;
		text-align:center;
	}
	

   	.booter{
		height: 632px;
   		border:1px solid;
   	}
   	.pic{
   		display: block;
		height: 30px;
   		background: #e3dcdc;
   		border-radius:0 0  10px 10px;
   	}
   	.pic p{
	   margin-left: 40px;
   		line-height: 30px;
   	}
   	.box1{
   		padding-top: 10px;
		height: 280px;
   		border:1px solid #9999b9;
   		margin: 5px;
   		-webkit-box-shadow: 5px 2px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 5px 2px 2px rgba(0,0,0,.2);
		box-shadow: 5px 2px 2px rgba(0,0,0,.2);
   		border-radius:10px;
   	}
 
   	.box1 img{
		height: 240px;
   		width: 186px;
   	}
   	.box1 p a{
		text-decoration: none;
   		color: #7c7a7a;
   	}
   	.box1 p
   	{
   		line-height: 20px;
   		color: #7c7a7a;
   		font-weight: bold;
   	}
   	.box1 p a:hover{
		color: #bbb9b9;
   	}
   	.login,
   	.reg{
	height: 500px;
   	border:1px solid #e7d8d8;
   	background: #d3dce2;
   		-webkit-box-shadow: 5px 3px 4px 1px rgba(0,0,0,.2);
		-moz-box-shadow: 5px 3px 4px 1pxrgba(0,0,0,.2);
		box-shadow: 5px 3px 4px 1px rgba(0,0,0,.2);
   	}
.disk{
	height:600px; /*-30px*/
   	border:1px solid;
}
.bigbox{
	height:565px;
	width: 290px;/*1010-300*/
	border: 1px solid #dad6d6;
}
.bigbox .linebox1{
	height: 184px;   /*280+4*/
	border:1px solid #dad6d6;
	margin-bottom: 3px;
}
.bigbox .linebox3 h3,
.bigbox .linebox2 h3,
.bigbox .linebox1 h3{
	text-align: center;
	color: #5b656a;
}
.bigbox .linebox3 p,
.bigbox .linebox2 p,
.bigbox .linebox1 p{
	text-align: center;
	color: #778084;
    line-height: 23px;
}
.bigbox .linebox2{
	height: 184px;   /*280+4*/
	border:1px solid #dad6d6;
	margin-bottom:3px;
}
.bigbox .linebox3{
	height: 184px;   /*280+4*/
	border:1px solid #dad6d6;
}
.smallbox{
	height:565px;
	width: 700px;
	border: 1px solid #dad6d6;
	margin-left: 10px;
}
.smallbox h2{
	height: 50px;
	text-align: center;
	line-height: 55px;
	background: #f5f3f0;
	color: #5b656a;
}
#yonghu{
		height:60px;
		border:1px solid #666;
		background-image:url(image/3.PNG);
		border-radius:0 0  15px 15px;
		}
.table{
	height: 30px;
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	padding-left: 240px;
	line-height: 30px;
}
.table lable{
	font-size: 20px;
}
.table input{
	height: 30px;
	width: 60%;
	-webkit-box-shadow: 5px 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 5px 2px 2px rgba(0,0,0,.2);
	box-shadow: 5px 2px 2px rgba(0,0,0,.2);
   	border-radius:6px;
}
.button{
    padding-top: 80px;
    padding-left: 550px;
}
button{
	height: 40px;
	width: 80px;
	background: #00acd6;
	color: #fff;
	-webkit-box-shadow: 5px 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 5px 2px 2px rgba(0,0,0,.2);
	box-shadow: 5px 2px 2px rgba(0,0,0,.2);
   	border-radius:10px;
}
button a{
	text-decoration: none;
	color: #fff;
}
button a:hover{
	text-decoration: none;
	color: #e91e1e;
}
.question{
	height: 613px;
	border:1px solid #dad6d6;
}
.font{
	height: 760px;
	border:1px solid #dad6d6;
}
.picture{
	height: 600px;
	border:1px solid #dad6d6;
}
.bird{
	padding-left: 20px;
	height: 500px;
	width: 800px;
	border:2px solid #999090;
}
.pig{
	height: 500px;
	width: 180px;
	border:1px solid #e6dada;
	background:#3a0505;
}
.apple{
	height: 50px;
	border:2px solid #c6b2b2;
}
.pig h1{
	padding-top: 10px;
	text-align: center;
	font-size:20px;
	color: #d2c5c5;
}
.pig p{ 
    padding-left: 20px;
    color: #cec4c4;
    line-height: 2;
}	.cmp{
	height: 300px;
	width: 1010px;
	border:1px solid #cab5b5;
	background-image: url(../image/img6.jpg);
	}
	#list{
		position:relative;
		left:auto;
		top:0px;
		width:10100px;
		height:300px;
		margin:0 auto;
		overflow:hidden;/*³ö½çµÄÒþ²Ø*/
	}	
	.listClass{
		position:absolute;
		top:0px;
		width:400px;
		height:300px;
		background-size:cover;
	}
	
	.titleClass{
		width:50px;
		height:300px;
	}
	
	#list01{
		left:0px;
		background-image:url(../image/img1.jpg);
	}
	
	#title01{
		background-color:#757474;	
	}
	
	#list02{
		left:400px;
		background-image:url(../image/img2.jpg);
	}
	
	#title02{
		background-color:#969191;	
	}
	
	#list03{
		left:450px;
		background-image:url(../image/img3.jpg);
	}
	
	#title03{
		background-color:#a1a1a9;	
	}
	#list04{
		left:500px;
		background-image:url(../image/img4.jpg);
	}
	
	#title04{
		background-color:#c7d2c7;	
	}
	
	#list05{
		left:550px;
		background-image:url(../image/img5.jpg);
	}
	
	#title05{
		background-color:#e2e2df;	
	}
	#list06{
		left:600px;
		background-image:url(../image/img6.jpg);
	}
	
	#title06{
		background-color:#f3f3ec;	
	}
.footer{text-align:center; background-color:#D4D4D4; line-height:24px; padding:50px 0;}
.footer i{font-style:normal; margin:0 5px; }
.footer a{text-decoration: none;color:#000;}
.footer a:hover{color:#F60;}
.web{padding-top:30px;}
.web img{height: 60px;width: 100px;margin:0 12px;}
.hr_25{height:25px;}
.hr_45{height:45px;}
.hr_7{height:7px; overflow:hidden;}
.hr_15{height:15px; overflow:hidden;}
   	